<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  style="
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
  "
>
  <head
    style="
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 14px;
      margin: 0;
    "
  >
    <meta
      name="viewport"
      content="width=device-width"
      style="
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
        margin: 0;
      "
    />
    <meta
      http-equiv="Content-Type"
      content="text/html; charset=UTF-8"
      style="
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
        margin: 0;
      "
    />
    <title
      style="
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
        margin: 0;
      "
    >
      Checkout Success
    </title>
  </head>

  <body
    itemscope
    itemtype="http://schema.org/EmailMessage"
    style="
      -webkit-box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: none;
      background-color: #fff;
      box-sizing: border-box;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 14px;
      height: 100%;
      line-height: 1.6em;
      margin: 0;
      width: 100% !important;
    "
  >
    <table
      class="body-wrap"
      style="
        -webkit-box-sizing: border-box;
        background: linear-gradient(#30981d 40%, #fff 40%);
        box-sizing: border-box;
        color: #707070;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
        margin: 0;
        width: 100%;
      "
    >
      <tr
        style="
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          font-size: 14px;
          margin: 0;
        "
      >
        <td
          style="
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 14px;
            margin: 0;
            vertical-align: top;
          "
        ></td>
        <td
          class="container"
          width="600"
          style="
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            clear: both !important;
            display: block !important;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 14px;
            margin: 0 auto !important;
            max-width: 600px !important;
            vertical-align: top;
          "
        >
          <div
            class="content"
            style="
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              display: block;
              font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
              font-size: 14px;
              margin: 0 auto;
              max-width: 600px;
              padding: 20px;
            "
          >
            <table
              class="main"
              width="100%"
              cellpadding="0"
              cellspacing="0"
              itemprop="action"
              itemscope
              itemtype="http://schema.org/ConfirmAction"
              style="
                -webkit-box-sizing: border-box;
                background-color: #fff;
                border: 1px solid #e9e9e9;
                border-radius: 6px;
                box-sizing: border-box;
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                font-size: 14px;
                margin: 0;
              "
            >
              <tr
                width="100%"
                style="
                  -webkit-box-sizing: border-box;
                  box-sizing: border-box;
                  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                  font-size: 14px;
                  margin: 0;
                  width: 100%;
                "
              >
                <td
                  width="100%"
                  style="
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                    font-size: 14px;
                    margin: 0;
                    padding: 20px;
                    vertical-align: top;
                    width: 100%;
                  "
                >
                  <meta
                    itemprop="name"
                    content="Confirm Email"
                    style="
                      -webkit-box-sizing: border-box;
                      box-sizing: border-box;
                      font-family: 'Helvetica Neue', Helvetica, Arial,
                        sans-serif;
                      font-size: 14px;
                      margin: 0;
                    "
                  />
                  <table
                    width="100%"
                    cellpadding="0"
                    cellspacing="0"
                    style="
                      -webkit-box-sizing: border-box;
                      box-sizing: border-box;
                      font-family: 'Helvetica Neue', Helvetica, Arial,
                        sans-serif;
                      font-size: 14px;
                      margin: 0;
                    "
                  >
                    <tr
                      width="100%"
                      style="
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                        font-family: 'Helvetica Neue', Helvetica, Arial,
                          sans-serif;
                        font-size: 14px;
                        margin: 0;
                      "
                    >
                      <td
                        class="content-block text-center"
                        width="100%"
                        style="
                          -webkit-box-sizing: border-box;
                          box-sizing: border-box;
                          font-family: 'Helvetica Neue', Helvetica, Arial,
                            sans-serif;
                          font-size: 14px;
                          margin: 0;
                          padding: 0 0 20px;
                          text-align: center;
                          vertical-align: top;
                        "
                      >
                        <img
                          src="<%= base_url %>/static/logo.png"
                          width="100"
                          alt="Dompet Dhuafa Logo"
                          itemprop="image"
                          style="
                            -webkit-box-sizing: border-box;
                            box-sizing: border-box;
                            font-family: 'Helvetica Neue', Helvetica, Arial,
                              sans-serif;
                            font-size: 14px;
                            margin: 0;
                            max-width: 100%;
                          "
                        />
                      </td>
                    </tr>
                  </table>
                  <table
                    width="100%"
                    cellpadding="0"
                    cellspacing="0"
                    style="
                      -webkit-box-sizing: border-box;
                      box-sizing: border-box;
                      font-family: 'Helvetica Neue', Helvetica, Arial,
                        sans-serif;
                      font-size: 14px;
                      margin: 0;
                    "
                  >
                    <tr
                      style="
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                        font-family: 'Helvetica Neue', Helvetica, Arial,
                          sans-serif;
                        font-size: 14px;
                        margin: 0;
                      "
                    >
                      <td
                        class="content-block pt-16 break-all"
                        itemprop="handler"
                        itemscope
                        itemtype="http://schema.org/HttpActionHandler"
                        style="
                          -webkit-box-sizing: border-box;
                          box-sizing: border-box;
                          font-family: 'Helvetica Neue', Helvetica, Arial,
                            sans-serif;
                          font-size: 14px;
                          margin: 0;
                          padding: 0 0 20px;
                          padding-top: 16px !important;
                          vertical-align: top;
                          word-wrap: break-word;
                        "
                      >
                        <p>Assalamu'alaikum Warrahmatullahi Wabarakatuh</p>

                        Bapak/Ibu <%= name %>, Kami ingin memberitahukan kode
                        akses OTP untuk melanjutkan login pada akun Benefis 2
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <table
                          width="100%"
                          cellpadding="0"
                          cellspacing="0"
                          style="
                            -webkit-box-sizing: border-box;
                            box-sizing: border-box;
                            font-family: 'Helvetica Neue', Helvetica, Arial,
                              sans-serif;
                            font-size: 14px;
                            margin: 0;
                            background: #edf7ee;
                            display: block;
                            text-align: center;
                          "
                        >
                          <tbody width="100%" style="display: block">
                            <tr
                              width="100%"
                              style="
                                -webkit-box-sizing: border-box;
                                box-sizing: border-box;
                                font-family: 'Helvetica Neue', Helvetica, Arial,
                                  sans-serif;
                                font-size: 14px;
                                margin: 0;
                                background: #edf7ee;
                                display: block;
                                text-align: center;
                              "
                            >
                              <td
                                class="content-block bg-lg p-16"
                                style="
                                  -webkit-box-sizing: border-box;
                                  background: #fafafa;
                                  box-sizing: border-box;
                                  font-family: 'Helvetica Neue', Helvetica,
                                    Arial, sans-serif;
                                  font-size: 14px;
                                  margin: 0;
                                  padding: 16px !important;
                                  vertical-align: top;
                                  display: block;
                                "
                              >
                                <div
                                  class="text-center"
                                  style="
                                    -webkit-box-sizing: border-box;
                                    box-sizing: border-box;
                                    font-family: 'Helvetica Neue', Helvetica,
                                      Arial, sans-serif;
                                    font-size: 14px;
                                    margin: 0;
                                    text-align: center;
                                  "
                                >
                                  <span
                                    class="text-primary"
                                    style="
                                      -webkit-box-sizing: border-box;
                                      box-sizing: border-box;
                                      font-family: 'Helvetica Neue', Helvetica,
                                        Arial, sans-serif;
                                      font-size: 14px;
                                      margin: 0;
                                    "
                                  >
                                    <div class="table-wrapper mb-24">
                                      <span
                                        rel="noopener noreferrer"
                                        class="button button-primary"
                                        style="
                                          box-sizing: border-box;
                                          position: relative;
                                          -webkit-text-size-adjust: none;
                                          border-radius: 4px;
                                          color: #fff;
                                          display: block;
                                          text-align: center;
                                          margin: auto;
                                          width: 50%;
                                          overflow: hidden;
                                          text-decoration: none;
                                          background-color: #18a554;
                                          border-bottom: 8px solid #18a554;
                                          border-left: 18px solid #18a554;
                                          border-right: 18px solid #18a554;
                                          border-top: 8px solid #18a554;
                                        "
                                        ><%= otp %></span
                                      >
                                    </div>
                                  </span>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <div
                    class="table-wrapper mb-24"
                    style="
                      -webkit-box-sizing: border-box;
                      box-sizing: border-box;
                      font-family: 'Helvetica Neue', Helvetica, Arial,
                        sans-serif;
                      font-size: 14px;
                      margin: 0;
                      margin-bottom: 24px !important;
                    "
                  >
                    <table
                      class
                      style="
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                        font-family: 'Helvetica Neue', Helvetica, Arial,
                          sans-serif;
                        font-size: 14px;
                        margin: 0;
                      "
                    >
                      <tbody
                        style="
                          -webkit-box-sizing: border-box;
                          box-sizing: border-box;
                          font-family: 'Helvetica Neue', Helvetica, Arial,
                            sans-serif;
                          font-size: 14px;
                          margin: 0;
                        "
                      ></tbody>
                    </table>
                  </div>

                  <table>
                    <tr>
                      <td>
                        <p>kode ini berlaku selama 5 menit kedepan.</p>
                      </td>
                      <td></td>
                    </tr>

                    <tr>
                      <td>
                        <span>Salam Hangat, Customer Care - </span>
                        <span>Dompet Dhuafa</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p>
                          <span
                            >Call Center : 0804-100-4000 / (021) 508 66860
                            <br />
                            Whatsapp : +628111544488 <br />
                            Email : customercare@dompetdhuafa.org
                          </span>
                        </p>
                      </td>
                    </tr>
                  </table>
                  <div
                    class="table-wrapper mb-24"
                    style="
                      -webkit-box-sizing: border-box;
                      box-sizing: border-box;
                      font-family: 'Helvetica Neue', Helvetica, Arial,
                        sans-serif;
                      font-size: 14px;
                      margin: 0;
                      word-break: break-all !important;
                      margin-bottom: 24px !important;
                    "
                  ></div>
                </td>
              </tr>
            </table>

            <div
              class="footer"
              style="
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                clear: both;
                color: #999;
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                font-size: 14px;
                margin: 0;
                padding: 20px;
                width: 100%;
              "
            >
              <table
                width="100%"
                style="
                  -webkit-box-sizing: border-box;
                  box-sizing: border-box;
                  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                  font-size: 14px;
                  margin: 0;
                "
              >
                <tr
                  style="
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                    font-size: 14px;
                    margin: 0;
                  "
                >
                  <td
                    class="aligncenter p-8"
                    style="
                      -webkit-box-sizing: border-box;
                      box-sizing: border-box;
                      color: #999;
                      font-family: 'Helvetica Neue', Helvetica, Arial,
                        sans-serif;
                      font-size: 12px;
                      margin: 0;
                      padding: 8px !important;
                      text-align: center;
                      vertical-align: top;
                    "
                  >
                    <a
                      href="https://www.facebook.com/DompetDhuafaID?_rdc=1&_rdr"
                      class="btn-icon mr-8"
                      style="
                        -ms-flex-align: center;
                        -ms-flex-pack: center;
                        -webkit-box-align: center;
                        -webkit-box-pack: center;
                        -webkit-box-sizing: border-box;
                        align-items: center;
                        border: 1px solid #9b9b9b;
                        border-radius: 50%;
                        box-sizing: border-box;
                        color: #999;
                        display: inline-flex;
                        font-family: 'Helvetica Neue', Helvetica, Arial,
                          sans-serif;
                        font-size: 12px;
                        height: 50px;
                        justify-content: center;
                        line-height: 50px;
                        margin: 0;
                        margin-right: 8px !important;
                        text-decoration: underline;
                        width: 50px;
                      "
                    >
                      <img
                        src="<%= base_url %>/static/logo-facebook.png"
                        style="
                          -webkit-box-sizing: border-box;
                          box-sizing: border-box;
                          font-family: 'Helvetica Neue', Helvetica, Arial,
                            sans-serif;
                          font-size: 14px;
                          margin: 0 auto;
                          max-width: 100%;
                          object-fit: contain;
                          width: 24px;
                        "
                        alt="Dompet Dhuafa Facebook"
                        itemprop="image"
                      />
                    </a>
                    <a
                      href="https://www.instagram.com/dompetdhuafaorg/"
                      class="btn-icon mr-8"
                      style="
                        -ms-flex-align: center;
                        -ms-flex-pack: center;
                        -webkit-box-align: center;
                        -webkit-box-pack: center;
                        -webkit-box-sizing: border-box;
                        align-items: center;
                        border: 1px solid #9b9b9b;
                        border-radius: 50%;
                        box-sizing: border-box;
                        color: #999;
                        display: inline-flex;
                        font-family: 'Helvetica Neue', Helvetica, Arial,
                          sans-serif;
                        font-size: 12px;
                        height: 50px;
                        justify-content: center;
                        line-height: 50px;
                        margin: 0;
                        margin-right: 8px !important;
                        text-decoration: underline;
                        width: 50px;
                      "
                    >
                      <img
                        src="<%= base_url %>/static/logo-instagram.png"
                        style="
                          -webkit-box-sizing: border-box;
                          box-sizing: border-box;
                          font-family: 'Helvetica Neue', Helvetica, Arial,
                            sans-serif;
                          font-size: 14px;
                          margin: 0 auto;
                          max-width: 100%;
                          object-fit: contain;
                          width: 24px;
                        "
                        alt="Dompet Dhuafa Instagram"
                        itemprop="image"
                      />
                    </a>
                    <a
                      href="https://twitter.com/dompetdhuafaorg"
                      class="btn-icon mr-8"
                      style="
                        -ms-flex-align: center;
                        -ms-flex-pack: center;
                        -webkit-box-align: center;
                        -webkit-box-pack: center;
                        -webkit-box-sizing: border-box;
                        align-items: center;
                        border: 1px solid #9b9b9b;
                        border-radius: 50%;
                        box-sizing: border-box;
                        color: #999;
                        display: inline-flex;
                        font-family: 'Helvetica Neue', Helvetica, Arial,
                          sans-serif;
                        font-size: 12px;
                        height: 50px;
                        justify-content: center;
                        line-height: 50px;
                        margin: 0;
                        margin-right: 8px !important;
                        text-decoration: underline;
                        width: 50px;
                      "
                    >
                      <img
                        src="<%= base_url %>/static/logo-twitter.png"
                        style="
                          -webkit-box-sizing: border-box;
                          box-sizing: border-box;
                          font-family: 'Helvetica Neue', Helvetica, Arial,
                            sans-serif;
                          font-size: 14px;
                          margin: 0 auto;
                          max-width: 100%;
                          object-fit: contain;
                          width: 24px;
                        "
                        alt="Dompet Dhuafa Twitter"
                        itemprop="image"
                      />
                    </a>
                  </td>
                </tr>
                <tr
                  style="
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                    font-size: 14px;
                    margin: 0;
                  "
                >
                  <td
                    class="aligncenter p-8"
                    style="
                      -webkit-box-sizing: border-box;
                      box-sizing: border-box;
                      color: #999;
                      font-family: 'Helvetica Neue', Helvetica, Arial,
                        sans-serif;
                      font-size: 12px;
                      margin: 0;
                      padding: 8px !important;
                      text-align: center;
                      vertical-align: top;
                    "
                  >
                    ©️ 2024 Dompet Dhuafa. All Rights Reserved
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </td>
        <td
          style="
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 14px;
            margin: 0;
            vertical-align: top;
          "
        ></td>
      </tr>
    </table>
  </body>
</html>
